* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #080808;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #00ff87;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

option {
  background: #111;
  color: #fff;
}
